footer {
    margin-top: 40px;
    padding: 25px 0;
    text-align: center;
    background-color: #000000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkedin-icon {
    width: 35px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.5s ease, filter 0.4s ease;
    filter: brightness(0.5);
}

.linkedin-icon:hover {
    filter: brightness(1);
    transform: scale(1.1);
}

.copyright {
    font-size: 0.725em;
    color: #e3e3e3;
    opacity: 0.4;
    margin: 14px 0 0 0;
}

@media (max-width: 768px) {
    footer {
        margin-top: 10px;
    }

    .linkedin-icon {
        width: 25px;
    }

    .copyright {
        font-size: 0.65em;
    }
}
