footer {
    background-color: #282828;
    padding: 0.5rem 0;  
    width: 100%; 
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p { 
    color: #F6EDFF; 
    margin: 0;
}

.linkedin-icon {
    width: 36px; 
    height: 36px;
    vertical-align: middle;
    margin-top: -4px
}