footer {
    background-color: #f8f8f8;
    color: #333;
    width: 100%;
    padding: 0.75rem 0;
    border-top: 1px solid #ddd;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.footer-section {
    padding: 1rem;
}

.footer-section.pages {
    flex: 1;
}

.footer-section.newsletter {
    flex: 2;
}

.footer-section.social {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copyright {
    margin: 0 !important;
}

.footer-section h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.footer-section p {
    margin: 0.5rem 0;
}

.pages ul {
    list-style-type: none;
    padding: 0;
}

.pages ul li {
    margin: 0.5rem 0;
}

.pages ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.pages ul li a:hover {
    color: #cfa4fc;
}

.newsletter form {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

.newsletter button {
    padding: 0.5rem;
    background-color: #cfa4fc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: #333;
    color: #f8f8f8;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .footer-desktop {
        display: flex !important;
    }

    .footer-mobile {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .footer-desktop {
        display: none !important;
    }

    .footer-mobile {
        display: flex !important;
        justify-content: space-around;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .footer-section.newsletter {
        width: 95%;
        padding-bottom: 0;
    }

    .footer-section.pages {
        width: 30%;
        padding-left: 1rem;
        text-align: left;
        
    }

    .footer-section.social {
        width: 50%;
        padding-left:6rem;
    }
}
