header {
    background-color: #f8f8f8;
    color: #333;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: relative;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.logo {
    max-width: 220px;
    padding-top: 7px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 0.4rem 0.4rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    transform: translateY(-3px);
    color: #cfa4fc;
    text-decoration: none;
}
