.report-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
  }

  .report {
    text-align: center;
  }

  .report img {
    max-width: 75%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .report h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #d9b5ff;
  }