body, html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #e0e0e0;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1800px;
    width: 38%;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
}

h1.fading {
    background: linear-gradient(to right, #e0e0e0 0%, #d2a3fd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    font-weight: 500;
}

h2.fading {
    background: linear-gradient(to right, #e0e0e0 0%, #d2a3fd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 500;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    color: #e0e0e0;
    line-height: 1.6;
}

p span.fading {
    background: linear-gradient(to right, #e0e0e0 0%, #d2a3fd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 500;
}

p.italic {
    font-style: italic;
}

p span.italic {
    font-style: italic;
}

a {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #ddb8ff;
    text-decoration: none;
}

.list-container {
    display: flex;
    justify-content: center; /* Centers the list container */
}

.two-column-list {
    font-size: 1.1em;
    font-weight: 500;
    list-style-position: inside; /* Ensures bullet points are aligned with the text */
    list-style-type: disc; /* Adds bullet points */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Splits into 2 equal columns */
    column-gap: 100px; /* Keeps the gap between columns */
    row-gap: 5px; /* Reduces the gap between rows */
    max-width: 800px; /* Adjusts width of the container, center it nicely */
}

.two-column-list li {
    text-align: left; /* Aligns list items to the left */
    margin-bottom: 10px; /* Adds space between items */
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 15px; /* Optional: Reduce padding for a better fit */
        text-align: center;
    }

    h1 {
        font-size: 1.5em; /* Adjust font sizes for better readability */
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.825em;
    }
}