/* Main Stylesheet */
body {
    font-family: Arial, sans-serif;
    background-color: #f6edff;
    color: #000000;
    margin: 0; 
}

.container {
    max-width: 960px;
    margin: 0.75rem auto;
    padding: 1.5rem;
}
